html{
  scroll-behavior: smooth;
}
body {margin: 0;
width: auto;}

ul.topnav {
  position: fxed;
  top: 0%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
}

ul.topnav li,header img{
  float: left;
  border-radius: 8px;

}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 8px;
 
}

ul.topnav li a:hover:not(.active) {background-color: gray;}

ul.topnav li.right {
  background-color: #0274C6;
  float: right;
  margin-right: 20px;
}

header img{
   height: 50px;
   margin-left: auto;
   margin-right: auto;
 }

.active {
  background-color: black;
}

.poster img{
    margin: 0px;
  text-align: center;
}

.bottom{
  height: 400px;
}
    
h1{
text-align: center;
}

#flex-container {
  display: flex;
  background-color: white;
  justify-content: center ;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 120px;
  padding-left: 120px;
}

#flex-container > div {
  background-color: white;
  margin: 30px;
  padding: 30px;
  font-size: 15px;
  border-radius: 10px;
  flex-basis: 0%;
  flex-grow: 1;
  text-align: center;
}


#text-poster img{
  height: 700px;
  display: flex;

}
#text-poster {
  display: flex;
  font-size: 20px;
  text-align: center;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: px;
  background-color: #f1f1f1;
}
 .we {
  width: 85%;
  padding-left: 90px;
  padding-top: 100px;
  padding-bottom: 50px;
}


#how-it-works {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: white;
}
.flex > div {
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  border-radius: 0px;
  flex-basis: 0%;
  flex-grow: 1;
  text-align: center;
}

.row{
  background-color: #f1f1f1;
}

#feat {
  margin-top: 100px;
  padding-bottom: 50px;
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.features {
 padding-left: 20px;
 padding-right: 20px;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #0274C6;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */


#price {
  padding-top: 50px;
  padding-bottom: 100px;
}


table {
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: #71717158;
  margin-left: 15%;
  margin-right: 15%;
  color: black;
  text-align: center;
}

table, td, th{
  border: 1px solid black;
  text-align: center;
}
.fixed-bg {
  background-image: url("about-us.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us {
  position: center;
  font-size: 70px;
  padding-top: 15%;
  padding-right: 70%;
  color: white;
}
.we-are{
  position: center;
  font-size: 35px;
  padding-right: 20%;
  padding-top: 30px;
  color: white;
}
.satements {
  display: flex;
  padding-left: 20px;

}
.our {
  color: #0274C6;
}
.map-responsive{
  padding-left: 200px;
  

  

}

.map-responsive iframe{


}
#contact-us {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}
.contact {
  padding-left: 150px;
}
#bottom {
  background-color: #0274C6;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
#bottom > p {
  text-align: center;
  font-size: 10px;
  margin-top: 0px;
}
#bottom > h3 {
  margin-bottom: 0px;
  text-align: center;
}
@media screen and (max-width: 1250px) {
  #contact-us {
    display: inline;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .contact {
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .map-responsive{
    padding-left: 0px;
    padding-bottom: 100px;
}


}